* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 400px;
    background: radial-gradient(circle, #0a6b2e, #04471c);
    padding: 20px;
    border-radius: 20px;
}

.first-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

#card-games.active {
    animation: fadeOutRight 1s forwards;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.card-images {
    width: 100%;
    height: 500px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
img {
    width: 200px;
    animation: float 1s ease-in-out infinite; /*ease-in-out is part of the animation timing function in CSS.It controls how the speed of the animation changes.*/
}

@keyframes float {
    0% {transform: translateY(0);} /*begin from the 0 meaning start from a normal*/
    50% {transform: translateY(-20px);} /*then go up 20px*/
    100% {transform: translateY(0);} /*go down 0*/
}

.start {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

.start button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

.start button.active {
    display: none;
}

.start button:hover {
    background-color: orange;
    transition: 0.4s;
}

.third-screen {
    display: none;
}

.third-screen.active {
    display: block;
    width: 200px;
    animation: displayin 2s ease-in-out infinite alternate;
}

@keyframes displayin {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-40px);
    }
}


.images3 {
 width: 100%;
 height: 400px;
}

.FIRST-CARDS {
    display: flex;
    justify-content: space-between;

}

.FIRST-CARDS div {
    width: 200px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    align-items: center;
    font-size: 24px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.FIRST-CARDS div:hover {
    background-color: orange;
}

.CARDS {
    display: none;
    transition: 0.5s;
}

.CARDS.active {
    display: block;
    transition: 0.5s;
}

#button.active {
    display: none;
}

#click {
    display: none;
}

#bet {
    width: 30px;
    background-color: red;
    color: white;
    display: none;
    position: relative;
    right: 40px
}

#bet.active {
    display: block;
}


#click.active {
    display: block;
}


.second-screen {
    display: none;
    width: 100%;
    height: 100vh;
}

.second-screen.active {
    display: block;
}

.counting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 300px;
}

.third-screen-main {
    position: fixed;
    width: 100%;
   padding-right: 30px;
}

.balance-container {
    width: 200px;
    height: 40px;
    position: relative;
    left: 40px;
    top: 20px;
    background-color: rgb(144, 90, 90);
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(80, 74, 74);
    cursor: pointer;
}

.balance p {
    color: #fff;
    font-size: 22px;
}

.bet-main {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.bet-container {
    display: none;
    width: 300px;
    height: 400px;
    background: rgba(128, 128, 128, 0.5);
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 100;
}

.bet-main button {
    width: 40px;
    border: none;
    border-radius: 3px;
    margin: 10px;
    position: relative;
    top: 150px;
    cursor: pointer;
    z-index: 10;
}

.bet-container button:hover {
    background-color: orange;
}

.bet-container.active {
    display: block;
    transition: 0.3s;
}